# Copyright (c) 2020 SIGHUP s.r.l All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

commonLabels:
  k8s-app: ip-masq-agent
  module.kfd.sighup.io/name: "networking"
  module.kfd.sighup.io/version: "v1.8.0"
  module.kfd.sighup.io/component: "ip-masq"
  kfd.sighup.io/source: "kustomize"

resources:
  - daemonset.yml

patchesStrategicMerge:
  - daemonset-args.yml

images:
  - name: gcr.io/google-containers/ip-masq-agent-amd64
    newName: registry.sighup.io/fury/google-containers/ip-masq-agent-amd64
    newTag: v2.5.0

configMapGenerator:
  - name: ip-masq-agent
    files:
      - config=config.yml
