# Copyright (c) 2020 SIGHUP s.r.l All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

commonLabels:
  module.kfd.sighup.io/name: "networking"
  module.kfd.sighup.io/version: "v1.7.0"
  module.kfd.sighup.io/component: "calico"
  kfd.sighup.io/source: "kustomize"

images:
  - name: calico/kube-controllers
    newName: registry.sighup.io/fury/calico/kube-controllers
    newTag: v3.21.2
  - name: calico/cni
    newName: registry.sighup.io/fury/calico/cni
    newTag: v3.21.2
  - name: calico/pod2daemon-flexvol
    newName: registry.sighup.io/fury/calico/pod2daemon-flexvol
    newTag: v3.21.2
  - name: calico/node
    newName: registry.sighup.io/fury/calico/node
    newTag: v3.21.2

resources:
  - dashboards
  - config.yml
  - crd.yml
  - deploy.yml
  - ds.yml
  - rbac.yml
  - sm.yml
  - pdb.yml
